- breadcrumb :exhibition, @item 
.container
  .breadcrumbs
    = breadcrumbs separator: '＞', class: 'breadcrumbs__font'
  %section.item-box-container
    %h1.item-name 
      = @item.name
    %p.item-wording
    .item-main-content.clearfix
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              .owl-item
              .owl-item.active
                .owl-item-inner
                  = image_tag @item.image, size: '300×300'
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots
            .owl-dot.active
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
      .item-price-box.text-center.visible-sp
        %span.item-price.bold 
          = @item.price
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %section.visible-sp
        =link_to class: 'item-buy-btn.f18-24' do
          購入画面に進む
        .item-btn-float-area
          =link_to class: 'item-btn-client' do
            .visible 購入画面に進む
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to do
                = @item.user.nickname
              %div
                .item-user-ratings
                  %i.icon-good
                    %span 
                .item-user-ratings
                  %i.icon-normal
                    %span 
                .item-user-ratings
                  %i.icon-bad
                    %span 

          %tr
            %th カテゴリー
            %td
              =link_to do
                %div 
                  = @item.category
          %tr
            %th 商品の状態
            %td 
              = @item.condition
          %tr
            %th 
              = @item.delivery_fee.name
            %td 送料込み(出品者負担)
          %tr
            %th 配送元地域
            %td
              =link_to do
                = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @item.delivery_date
    .item-price-box.text-center
      %span.item-price.bold 
        ¥
        = @item.price 
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-btn-client
    .item-description.f14
      %p.item-description-inner 
        = @item.content
