%main.off_white{role: "main"}
  %section.owl-carousel.top-carousel.owl-loaded.owl-drag
    .banner
      .banner__item{style: ""}
        %a.banner__item__top.banner__item__camp{href: ""}
          %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2927923569", width: "680px", height: "auto"}
      .banner__stage{style: "left: -2880px; width: 8640px;"}
        .banner__item.cloned{style: "width: 1440px;"}
          %a.banner__item__top.banner__item__camp{href: ""}
        .banner__item.cloned{style: "width: 1440px;"}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: ""}/
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: ""}/
                %img{alt: "", src: ""}/
        .banner__item.active{style: ""}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: ""}/
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: ""}/
        .banner__item.cloned{style: "width: 1440px;"}
          %a.banner__item__top.banner__item__camp{href: ""}
        .banner__item.cloned{style: "width: 1440px;"}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2927923569"}/
                    %a.pull-left{href: "", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2927923569"}/
                %img{alt: "", src: ""}/
            #sp-top.visible-sp
              #sp-top-banner
                %h2
                  スマホで
                  %br>/
                  かんたん
                  %br>/
                  フリマアプリ
                %img{alt: "", src: ""}/
              #sp-top-dl.clearfix
                %a{href: ""}
                  %img{alt: "", src: ""}/
                %a{href: ""}
                  %img{alt: "", src: ""}/
    .owl-nav
      .owl-prev prev
      .owl-next next
    .owl-dots
      .owl-dot
        %span
      .owl-dot.active
        %span
  %section.main__pickup
    %h2.main__pickup__head ピックアップカテゴリー
    %section.main__items.clearfix
      %h3.main__text
        %a{href: ""} メンズ 新着アイテム
      .items.clearfix
        - @mens.each do |item|
          -if current_user.id == item.user.id
            %section.items__box
              =link_to item_path(item.id), class: "items__box__btn" do
          -else
            %section.items__box
              =link_to item_path(item.id), class: "items__box__btn" do
                %figure.items__box__photo
                  = image_tag item.image.variant(resize:'200x200').processed
                .items__box__body
                  %h3.items__box-name.font-2
                    = simple_format(item.name)
                  .items__box__num
                    .items__box__num__price.font-5
                      ¥
                      = (item.price)
                    .font-2
                    %span
        .view-all
      %section.main__items.clearfix
        %h3.main__text
          %a{href: ""} レディース 新着アイテム
        - @ladies.each do |item|
          %section.items__box
            =link_to item_path(item.id), class: "items__box__btn" do
              %figure.items__box__photo
                = image_tag item.image
              .items__box__body
                %h3.items__box-name.font-2
                  = simple_format(item.name)
                .items__box__num
                  .items__box__num__price.font-5
                    ¥
                    = (item.price)
                  .font-2
                  %span
        .view-all
      %section.main__items.clearfix
        %h3.main__text
          %a{href: ""} ベビー・キッズ 新着アイテム
        - @kids.each do |item|
          %section.items__box
            =link_to item_path(item.id), class: "items__box__btn" do
              %figure.items__box__photo
                = image_tag item.image
              .items__box__body
                %h3.items__box-name.font-2
                  = simple_format(item.name)
                .items__box__num
                  .items__box__num__price.font-5
                    ¥
                    = (item.price)
                  .font-2
                    %span
        .view-all
      %section.main__items.clearfix
        %h3.main__text
          %a{href: ""} コスメ・香水・美容 新着アイテム
        - @kosume.each do |item|
          %section.items__box
            =link_to item_path(item.id), class: "items__box__btn" do
              %figure.items__box__photo
                = image_tag item.image
              .items__box__body
                %h3.items__box-name.font-2
                  = simple_format(item.name)
                .items__box__num
                  .items__box__num__price.font-5
                    ¥
                    = (item.price)
                  .font-2
                    %span
        .view-all
    %section.main__items.clearfix
      %h3.main__text
        %a{href: ""} 本・音楽・ゲーム 新着アイテム
      - @chanel.each do |item|
        %section.items__box
          =link_to item_path(item.id), class: "items__box__btn" do
            %figure.items__box__photo
              = image_tag item.image
            .items__box__body
              %h3.items__box-name.font-2
                = simple_format(item.name)
              .items__box__num
                .items__box__num__price.font-5
                  ¥
                  = (item.price)
                .font-2
                  %span
          .view-all
    %section.main__items.clearfix
      %h3.main__text
        %a{href: ""} おもちゃ・ホビー・グッズ 新着アイテム
      - @vuitton.each do |item|
        %section.items__box
          =link_to item_path(item.id), class: "items__box__btn" do
            %figure.items__box__photo
              = image_tag item.image
            .items__box__body
              %h3.items__box-name.font-2
                = simple_format(item.name)
              .items__box__num
                .items__box__num__price.font-5
                  ¥
                  = (item.price)
                .font-2
                  %span
              .view-all
    %section.main__items.clearfix
      %h3.main__text
        %a{href: ""} スポーツ・レジャー 新着アイテム
      - @supreme.each do |item|
        %section.items__box
          =link_to item_path(item.id), class: "items__box__btn" do
            %figure.items__box__photo
              = image_tag item.image
            .items__box__body
              %h3.items__box-name.font-2
                = simple_format(item.name)
              .items__box__num
                .items__box__num__price.font-5
                  ¥
                  = (item.price)
                .font-2
                  %span
                .view-all
    %section.main__items.clearfix
      %h3.main__text
        %a{href: ""}  その他 新着アイテム
      - @nike.each do |item|
        %section.items__box
          =link_to item_path(item.id), class: "items__box__btn" do
            %figure.items__box__photo
              = image_tag item.image
            .items__box__body
              %h3.items__box-name.font-2
                = simple_format(item.name)
              .items__box__num
                .items__box__num__price.font-5
                  ¥
                  = (item.price)
                .font-2
                  %span