.container
<<<<<<< HEAD
  -# = render 'item/header'
  -# = render 'item/main'
  -# = render 'aside'
  -# = render "footer"
  -# = render "Product purchase confirmation"
  = render "productexhibition"
=======
  = render 'item/header'
  = render 'item/main'
  = render 'aside'
  = render "footer"
Product-Confirmation-Page
>>>>>>> 60b43505073e340b49aab5a76dc6821ab785e90a
