.items-other-container
  = render 'item/header'
  %main.item-container.item-other-container.clearfix
    .item-other-content
      %h2.item-other-content__delete m70068440240 この商品は削除されました
      %section.clearfix.item-other-content__box
        %h2.item-other-content__box--h2
          %a{href: ""}
            コーチのショルダーバッグ その他の商品
        .item-other-content__box--all.clearfix
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2 正規店購入 コーチ 2WAYショルダー
                .items-box-num
                  .items-box-price.font-5 ¥ 7,800
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
          %section.items-box
            =link_to do
              %figure.items-box-photo
                = image_tag '', size: '60×60', class: 'is-higher-height.lazyloaded'
              .items-box-body
                %h2.items-box-name.font-2
                .items-box-num
                  .items-box-price.font-5
                  .font-2
                    %i.icon-like-border ハート
                    %span
    .lside-advertisement
      .lside-advertisement__box
        =link_to class: 'lside-advertisement__box--banner' do
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?2927923569', class: 'lside-advertisement__box--banner', alt: "Download Mercari Now"
  = render 'aside'
  = render 'footer'