.container
  = render 'item/header'
  %section.item-box-container
    %h1.item-name  
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              .owl-item
              .owl-item.active
                .owl-item-inner
                  = image_tag @item.image, size: '300×300'
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots
            .owl-dot.active
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
      .item-price-box.text-center.visible-sp
        %span.item-price.bold ¥ 2,500
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %section.visible-sp
        =link_to class: 'item-buy-btn.f18-24' do
          購入画面に進む
        .item-btn-float-area
          =link_to class: 'item-btn-client' do
            .visible 購入画面に進む
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to do
                = @user.nickname
          %tr
            %th カテゴリー
            %td
              =link_to do
                %div 
                  = @item.category.name
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_fee.name
          %tr
            %th 配送元地域
            %td
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.delivery_date
    .item-price-box.text-center
      %span.item-price.bold 
        ¥
        = @item.price 
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-buy-btn.f18-24
      %div{"data-turbolinks" => "false"}
        =link_to '購入画面に進む' ,edit_product_purchase_confirmation_path(@item.id),{class: 'item-buy.f18-24'}
    .item-btn-client
    .item-description.f14
      %p.item-description-inner 
        = @item.content
  .item-detail-message
    .message-container
  %ul.nav-item-link-prev-next.clearfix
  .items-in-user-profile
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        =link_to do
          = @user.nickname + "さんのその他の出品"
      .items-box-content.clearfix
        = render 'items-box'
  .breadcrumbs
    = link_to 'メルカリ', root_path, class: "a"
    >
    = link_to @item.name, class: "a"
  = render 'aside'
.footer
  .footer__top
  %nav.clearfix
    .footer__top--head
      %h2.footer__top--head--head メルカリについて
      %ul
        %li
          %a{href:""} 会社概要（運営会社）
        %li
          %a{href:""} 採用情報
        %li
          %a{href:""} プレスリリース
        %li
          %a{href:""} 公式ブログ
        %li
          %a{href: ""} メルカリロゴ利用ガイドライン
        %li.footer-link
          %a{href: "https://twitter.com/mercari_jp", target: "_blank"}
            %i.fab.fa-twitter
        %li.footer-link
          %a{href: "https://www.facebook.com/mercarijp", target: "_blank"}
            %i.fab.fa-facebook-square
    .footer__top--head
      %h2.footer__top--head--head ヘルプ＆ガイド
      %ul
        %li
          %a{href: ""} メルカリガイド
        %li
          %a{href: ""} らくらくメルカリ便
        %li
          %a{href: ""} ゆうゆうメルカリ便
        %li
          %a{href: ""} 大型メルカリ便
        %li
          %a{href: ""} 車体取引ガイド
        %li
          %a{href: ""} メルカリあんしん・あんぜん宣言！
        %li
          %a{href: ""} 偽ブランド品撲滅への取り組み
        %li
          %a{href: ""} メルカリボックス
    .footer__top--head.width
      %h2.footer__top--head--head プライバシーと利用規約
      .footer__top--head--inner
        %ul
          %li
            %a{href: ""} プライバシーポリシー
          %li
            %a{href: ""} メルカリ利用規約
          %li
            %a{href: ""} あんしんスマホサポート制度に関する利用特約
          %li
            %a{href: ""} コンプライアンスポリシー
      .footer__top--head--inner
        %ul
          %li
            %a{href: ""} 個人データの安全管理に係る基本方針
          %li
            %a{href: ""} 特定商取引に関する表記
          %li
            %a{href: ""} 資金決済法に基づく表示
          %li
            %a{href: ""} 法令順守と犯罪抑止のために
          %li
            %a{href: ""} 返品・返金ポリシー
    .footer__top--head.footer-nav-lang
      %h2.footer__top--head--head 国
      %ul
        %li
          %a{href: ""} 日本
        %li
          %a{href: ""} United States
  
  .footer__bottom
    .footer__bottom--icon
      %a.footer-logo{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari",height: "33",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2927923569",width: "124"}/
    %span.footer__bottom--copyright
      %small © 2019 Mercari