.container
  = render 'item/header'
  .breadcrumbs
    = link_to 'メルカリ', root_path, class: "a"
    >
    = link_to '商品', '', class: "a"

  %section.item-box-container
    %h1.item-name COACH コーチ ショルダーバッグ
    %p.item-wording
      『COACH コーチ ショルダーバッグ』は、821回の取引実績を持つ
      =link_to do
        ３児mama☆(プロフィール必読!!)
      さんから出品されました。
      =link_to do
        コーチ
      （
      =link_to do
        ショルダーバッグ/レディース
      ）の商品で、岡山県から4~7日で発送されます。
    .item-main-content.clearfix
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              .owl-item
              .owl-item.active
                .owl-item-inner
                  = image_tag '', size: '300×300'
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots
            .owl-dot.active
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
            .owl-dot
              %span
              .owl-dot-inner
                = image_tag '', size: '60×60'
      .item-price-box.text-center.visible-sp
        %span.item-price.bold ¥ 2,500
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %section.visible-sp
        =link_to '購入画面に進む',"/confirm/index", class: 'item-buy-btn.f18-24'
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to do
                ３児mama☆(プロフィール必読!!)
              %div
                .item-user-ratings
                  %i.icon-good
                    %span 821
                .item-user-ratings
                  %i.icon-normal
                    %span 2
                .item-user-ratings
                  %i.icon-bad
                    %span 0
          %tr
            %th カテゴリー
            %td
              =link_to do
                %div レディース
              =link_to do
                .item-detail-table-sub-category
                  %i.icon-arrow-right バッグ
              =link_to do
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right ショルダーバッグ
          %tr
            %th ブランド
            %td
              =link_to do
                %div コーチ
          %tr
            %th 商品の状態
            %td やや傷や汚れあり
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              =link_to do
                岡山県
          %tr
            %th 発送日の目安
            %td 4~7日で発送
    .item-price-box.text-center
      %span.item-price.bold ¥ 2,500
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-buy-btn.f18-24
      %div{"data-turbolinks" => "false"}
        =link_to '購入画面に進む' ,edit_product_purchase_confirmation_path(@item.id),{class: 'item-buy.f18-24'}
    .item-btn-client
    .item-description.f14
      %p.item-description-inner 所々に擦り傷、色剥げ、スカーフに黄ばみ、少し形崩れもあります。この状態をご理解頂いての、ご購入で宜しくお願いします。そして長財布は、入りません。縦…約12cm横…約20cmマチ…約5cm神経質な方は、ご遠慮ください。
    .item-button-container.clearfix
      .item-button-left
        =link_to do
          .item-button.item-button-like
            %i.icon-like-border
              %span いいね!
              %span 4
        =link_to do
          .item-button.item-button-report.clearfix
            %i.icon-flag
              %span 不適切な商品の報告
      .item-button-right
        =link_to do
          .item-button.item-button-like
            %i.icon-lock
              %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      =link_to do
        %i.icon-arrow-left
          Roger&Raw デニムシャツ
    %li.nav-item-link-next
      =link_to do
        トイストーリー4  メタリック下敷き
        %i.icon-arrow-right
  .item-social-media-box
    .text-center
      .fb-save.fb_iframe_widget
    %ul.social-media-box
      =link_to do
        %li.share-btn
      =link_to do
        %li.share-btn
      =link_to do
        %li.social-hidden-item
      =link_to do
        %li.share-btn
  .items-in-user-profile
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        =link_to do
          = "３児mama☆(プロフィール必読!!)さんのその他の出品"
      .items-box-content.clearfix
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
    %section.items-box-container.clearfix.related-item-column.items-in-user-profile
      %h2.items-box-head
        =link_to do
          ３児mama☆(プロフィール必読!!)さんのその他の出品
      .items-box-content.clearfix
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
        %section.items-box
          =link_to do
            %figure.items-box-photo
              = image_tag '', size: '220×220', class: 'lazyloaded'
            .items-box-body
              %h3.items-box-name.font-2 x-girl  ショルダーバッグ
              .items-box-num
                .items-box-price.font-5 ¥ 3,000
                .font-2
                  .icon-like-border
                    %span 4
  = render 'aside'
  = render "footer"