= render 'item/header'
.container
  .breadcrumbs
    = link_to 'メルカリ', root_path, class: "a"
    >
    = link_to 'マイページ', mypages_path, class: "a"
    >
    = link_to 'ログアウト', '', class: "a"
%main.l-container.clearfix
  .mypages-side
    = render 'mypages/mypages-side'
  .logout-container
    .btn-default
      =link_to 'ログアウト', sign_out_path, method: :delete
= render 'item/footer'
