.sign-up-container
  = render 'sign-up-header'
  .sign-up-main-box
    .sign-up-main-box__content
      .no-account
        .sign-up__new-user
          = link_to 'メールアドレスで登録する', sign_up_path
      .auth-sns
        .sign-up__btn--facebook
          = link_to 'Facebookでログインする',  user_facebook_omniauth_authorize_path, method: "post"
        .sign-up__btn--google
          = link_to 'Googleでログインする',  user_google_oauth2_omniauth_authorize_path, method: "post"
      .login-form
        .login-form__main
        = form_with model: User, url: user_session_path, method: :post, local: true do |f|
          .login-form__main--box
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "mail-adress__input"
          .login-form__main--box
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "password__input"
          .login-form__main--box
            = f.submit "ログイン", class: "login-submit"
  = render 'sign-up-footer'