.mypages-side　　
%nav.mypages-side-nav
  %ul.mypages-side-list
    %li
      = link_to'マイページ',"/mypages#index",{class:"mypages-side-list-item active"}
      %i.fas.fa-caret-right
    %li
      = link_to'お知らせ',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'やることリスト',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'いいね!一覧',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'出品する',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'出品した商品 - 出品中',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'出品した商品 - 取引中',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'出品した商品 - 売却済み',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'購入した商品 - 取引中',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'購入した商品 - 過去の取引',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'ニュース一覧',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'評価一覧',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'ガイド',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'お問い合わせ',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
  %h3.mypage-nav-head メルペイ
  %ul.mypages-side-list
    %li
      = link_to'売上・振込申請',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'ポイント',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
  %h3.mypage-nav-head 設定
  %ul.mypages-side-list
    %li
      = link_to'プロフィール',"profile",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'発送元・お届け先住所変更',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'支払い方法',"cards",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'メール/パスワード',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'本人情報',"/confirm/index",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'電話番号の確認',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right
    %li
      = link_to'ログアウト',"リンク",{class:"mypages-side-list-item"}
      %i.fas.fa-caret-right