= render 'item/header' 
%body
  .breadcrumbs
    = link_to 'メルカリ', root_path, class: "a"
    >
    = link_to 'マイページ', '', class: "a"
  %main.l-container.clearfix
    .l-content
      %section.mypage-user-icon
        = render partial: "mypages__user"
      %section.mypage-tab-container-notification-to-do
        = render partial: "mypages__tab--container"
      %section.mypage-tab-container
      = render partial:"trade__container"
    .mypages-side
      = render partial: "mypages-side"
  = render 'item/aside'
  = render 'item/footer'