!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title aaa
    %link{href: "mypage.scss",rel: "stylesheet"}/
  -# = render 'item/header' -#現在このブランチにheaderファイルがないため、マージしてから追加します。
  %body
    %main.l-container.clearfix
      .l-content
        %section.mypage-user-icon
          = render partial: "mypages__user"
        %section.mypage-tab-container-notification-to-do
          = render partial: "mypages__tab--container"
        %section.mypage-tab-container
        = render partial:"trade__container"
      .mypages-side
        = render partial: "mypages-side"
    = render 'item/aside'
    = render 'item/footer'