.container
  = render 'item/header'
  .breadcrumbs
    = link_to 'メルカリ', '/', class: "a"
    >
    = link_to 'マイページ', '/mypages', class: "a"
    >
    = link_to '支払い方法', '/cards', class: "a"
    >
    = link_to 'クレジットカード情報入力', '', class: "a"
  = render 'card_information'
  %main.l-container.clearfix
    .mypages-side
      = render "mypages/mypages-side"
  = render 'item/aside'
  = render 'item/footer'