- breadcrumb :new_card
.container
  = render 'item/header'
  .breadcrumbs
    = breadcrumbs separator: 'ï¼', class: 'breadcrumbs__font'
  = render 'card_information'
  %main.l-container.clearfix
    .mypages-side
      = render "mypages/mypages-side"
  = render 'item/aside'
  = render 'item/footer'