.new-member-container
  .new-member-header
    .header__left
      .header__left-inner
        = image_tag "mercari_icon.png", size: "80x80"

  .new-member-main
    .new-member-main__inner
      .new-member-main__inner--top 会員情報入力
      .new-member-main__inner--form
      = form_with model: User, url: user_registration_path, method: :post, local: true do |f|
        .form__inner
          .form__inner-group
            = f.label :nickname, "ニックネーム"
            %span.form-require 必須
            = f.text_field :nickname, class: "input-default", placeholder: "例) メルカリ太郎", type: "text"
          .form__inner-group
            = f.label :email, "メールアドレス"
            %span.form-require 必須
            = f.email_field :email, class: "input-default", placeholder: "PC・携帯どちらでも可", type: "text"
          = f.email_field :login_type, type: "hidden", value: ""
          .form__inner-group
            = f.label :password, "パスワード"
            %span.form-require 必須
            = f.password_field :password, class: "input-default", placeholder: "6文字以上", type: "password"
          .form__inner-group
            = f.label :password_confirmation, "パスワード(確認用)"
            %span.form-require 必須
            = f.password_field :password_confirmation, class: "input-default", placeholder: "6文字以上", type: "password"
          .form__inner-group
            .text-top 本人確認
            .text-bottom 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

          .form__inner-group2
            .group2-top
              %label お名前(全角)
              %span.form-require 必須
          .group2-input-box
            = f.text_field :last_name, class: "input-default-half", placeholder: "例) 山田", type: "text"
            = f.text_field :first_name, class: "input-default-half", placeholder: "例) 彩", type: "text"
          .form__inner-group2
            .group2-top
              = f.label "お名前カナ(全角)", id: "last_name"
              %span.form-require 必須
          .group2-input-box
            = f.text_field :last_name_furigana, class: "input-default-half", placeholder: "例) ヤマダ", type: "text"
            = f.text_field :first_name_furigana, class: "input-default-half", placeholder: "例) アヤ", type: "text"
          .form-info ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .machine__check
          %input{name: "after_save_callback", type: "hidden", value: ""}/
          .machine__check--info
            .machine__check--info-text
              %p.machine__check--info-text 「登録する」のボタンを押すことにより、利用規約に同意したものとみなします。
            = f.submit "登録する", class: "btn-red-next"
            .text__right
              .text__right--inner
                .text__right--inner-target
                  = link_to '本人情報の登録について'

    .sign-up-footer
      .sign-up-nav
        .nav__clearfix
          .nav__clearfix--left プライバシーポリシー
          .nav__clearfix--middle メルカリ利用規約
          .nav__clearfix--right 特定商取引に関する表記
      .sign-up-footer-logo
        = image_tag "logo-gray.svg", size: "80x65"
      %small © 2019 Mercari